.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 20px;
}
.Footer-bg_color {
  background: #99a799;
}
.Footer-section {
  display: flex;
  gap: 100px;
}

.Footer-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .Footer {
    flex-direction: column;
    gap: 20px;
  }
  .Footer-section {
    width: 100%;
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .Footer-section {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .Footer-ul {
    flex-direction: row;
    justify-content: space-around;
  }
}
